.container {
    background: #bbada0;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    color: #fff;
    .title {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }
    .score {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
}
